<!DOCTYPE html>
<html>

  <head>
    <title>Holidays</title>
  </head>

  <body>

    <h1>Holidays for <%= current_search %></h1>

    <p>Discover the holidays for a given country, year, month.</p>

    <form>
      <label for="country">Country</label>
      <select name="country" required>
        <% SUPPORTED_COUNTRIES.each do |country| %>
          <option value="<%= country[:code] %>" <%= 'selected="selected"' if params[:country] == country[:code]%>>
            <%= country[:name] %>
          </option>
        <% end %>
      <select>

      <label for="year">Year</label>
      <input name="year" type="number" max="<%= @current_time.year %>" value="<%= params[:year] %>" required>

      <label for="month">Month</label>
      <select name="month" required>
        <% (1..12).each do |month| %>
          <option value="<%= month %>" <%= 'selected="selected"' if params[:month].to_i == month %>>
            <%= Date::MONTHNAMES[month] %>
          </option>
        <% end %>
      </select>

      <button type="submit">Display Holidays</button>
    </form>

    <% if @holidays.any? %>

      <ul>
        <% @holidays.each do |holiday| %>
          <li><%= holiday['name'] %> (<%= holiday['date'] %>)</li>
        <% end %>
      </ul>

    <% else %>

      <p>No holidays found for <%= current_search %>.</p>

    <% end %>

  </body>

</html>
